.App {
  text-align: center;
  background: linear-gradient(to right, white, black);
  color: white;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin-bottom: 20px;
  font-family: sans-serif;
  font-style: italic;
  background: linear-gradient(to right, white, rgb(233, 15, 15));
}
